.Button {
  font-weight: 500;
  line-height: 1;
  letter-spacing: 0.4px;
  text-align: center;
  user-select: none;
  position: relative;
  height: 30px;
  padding: 0 16px;
  border-radius: var(--border-radius-sm);
  cursor: pointer;
}

.isSelected {
  color: var(--color-white);
  background-color: var(--primary-color);
  border: var(--border-transparent);
}

.isUnselected {
  color: var(--primary-color);
  background-color: var(--color-white);
  border: solid 1px var(--primary-color);
}

.isInactive {
  color: var(--text-color-disabled);
  background-color: var(--color-white);
  border: solid 1px var(--background-color-disabled);
  pointer-events: none;
}

.isStart {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.isEnd {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-left: none;
}

.Button:disabled {
  background-color: var(--background-color-disabled);
  color: var(--text-color-disabled);
  border: solid 1px var(--text-color-disabled);
  cursor: not-allowed;
}

.Button:hover:not(:disabled):not(.isSelected) {
  background-color: var(--highlight-color);
}

.Button:enabled:hover,
.Button:enabled:focus {
  filter: brightness(110%);
}
