.Button {
  --text-color-disabled: #bdc0cf;
  --background-color-disabled: #e6ebf4;

  font-weight: 500;
  line-height: 40px;
  letter-spacing: 0.4px;
  text-align: center;
  user-select: none;
  border: var(--border-transparent);
  background-color: var(--primary-color);
  color: var(--text-color);

  position: relative;
  height: 40px;
  padding: 0 16px;
  border-radius: var(--border-radius-sm);
  cursor: pointer;
}

.Button:disabled {
  background-color: var(--background-color-disabled);
  color: var(--text-color-disabled);
  cursor: not-allowed;
}

.Button:enabled:hover,
.Button:enabled:focus {
  filter: brightness(110%);
}
