@import './reset.css';

:root {
  --font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  --font-size: 14px;

  --color-white: #ffffff;
  --color-black: #242424;
  --color-grey-light: #bdc0cf;
  --color-grey-lighter: #e6ebf4;
  --primary-color: #004e5f;
  --highlight-color: #def7f7;
  --background-color: var(--color-black);
  --text-color: var(--color-white);
  --text-color-disabled: var(--color-grey-light);
  --background-color-disabled: var(--color-grey-lighter);

  --color-scheme: light dark;

  --border-transparent: 1px solid transparent;
  --border-radius-sm: 4px;
  --border-radius-lg: 6px;
  --box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;

  --padding-xs: 4px;
  --padding-sm: 8px;
  --padding-lg: 12px;
  --padding-xl: 16px;

  background-color: whitesmoke;
  font-family: var(--font-family);
  font-size: var(--font-size);
}

@media (prefers-color-scheme: light) {
}

@media (prefers-reduced-motion: no-preference) {
}
